body {
  font-family: "TripSans-Med";
}

.countainer {
  width: 1100px;
  /* height: 10px; */
  margin: 0 auto;
  /*border: red solid 2px;*/
  box-sizing: border-box;
}

/*Title*/

h1 {
  font-size: 54px;
  margin-top: 30px;
  font-weight: bold;
}

h1 span {
  color: #ff5d5d;
}

h2 {
  font-size: 27px;
  line-height: 38px;
  letter-spacing: 0.6px;
  font-size: bold;
}
h3 {
  line-height: 40px;
}

h5 {
  font-size: 18px;
  color: #474747;
}
/*header*/

header {
  height: 100px;
}

header .countainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 180px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav div {
  margin-right: 20px;
}

header nav i {
  margin-right: 6px;
}

header button {
  color: white;
  background-color: black;
  border: none;
  outline: none;
  cursor: pointer;
  width: 147px;
  height: 42px;
  border-radius: 20px;
}

/*MAIN*/

.navigation-menu {
  margin-top: 50px;
  display: flex;
  margin-bottom: 40px;
}
.navigation-menu div {
  border: black solid 2px;
  padding: 15px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}

.navigation-menu div:not(:last-child) {
  margin-right: 20px;
}

/*PICTURES*/

.pictures {
  height: 430px;
  display: flex;
  object-fit: cover;
  margin-top: 35px;
}

.colonne1 {
  height: 100%;
  width: 100%;
  flex: 1;
}

.colonne1 img {
  height: 100%;
  object-fit: cover;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
}

.colonne2 {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
}

.colonne2 img {
  height: 50%;
  width: 100%;
}

.colonne2 img:first-child {
  margin-bottom: 3px;
}

/*Line*/

.line {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.line > div:first-child > span:nth-child(even) {
  margin: 0 6px;
}
.line > div:first-child > span:nth-child(odd):hover {
  color: grey;
  text-decoration: underline;
  cursor: pointer;
}

/* Description */

.description {
  height: 290px;
  width: 1100px;
  margin-bottom: 40px;
  margin-top: 80px;
  display: flex;
}

.description .col-1 {
  height: 100%;
  width: 50%;
}

.description .col-1 p {
  color: #474747;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 24px;
  margin-top: 20px;
  margin-right: 90px;
}

.description .col-2 div:first-child {
  background-color: #ff5d5d;
  padding: 30px;
  box-sizing: border-box;
  height: 234px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 80px;
}

.description .col-2 p {
  margin: 20px 0 40px 0;
}

.description button {
  width: 155px;
  height: 55px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 10px;
}

/* <!-- Section --> */

.section1 {
  margin-bottom: 100px;
}

.section1 .title {
  text-align: center;
}
.section1 > div:nth-child(2) {
  height: 500px;
  margin-top: 40px;
  display: flex;
}

.section1 .col-1 {
  height: 100%;
  width: calc(100% / 4);
  padding: 20px;
  box-sizing: border-box;
}

.section1 .col-2 {
  height: 100%;
  width: calc(100% / 4 * 3);
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.section1 .col-1 p {
  margin: 20px 0;
  color: #474747;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 21.6px;
}

.section1 .col-carroussel {
  background-color: lightgreen;
  height: 100%;
  width: calc(100% / 3 - (40px / 3));
  border: solid black 2px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.section1 .col-carroussel:not(:last-child) {
  margin-right: 20px;
}

.section1 .col-carroussel > div:first-child {
  width: 100%;
  height: 206px;
  position: relative;
}

.section1 .col-carroussel > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1 .circle {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
